[Desktop Entry]
Name=CLEF Viewer
Comment=Compact Log Event Format Viewer
Exec=clef-viewer
Icon=com.azygis.clef-viewer
Terminal=false
Type=Application
Categories=Development;Utility;
StartupNotify=true
MimeType=application/json;text/plain;
